.messagesWrapper {
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    flex-grow: 1;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px #e7e8ec;
    margin-top: 15px;

  
 
}

.messages {
    height: calc(100vh - 142px);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    padding: 15px;

}


.notificationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
}

.notificationText {
    font-size: 13px;
    font-weight: 400;
    color: #656565;

}
