.bg {
    background-color: #fff;
    border-bottom: 1px solid #dce1e6;
}

.contentBox {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.logo__container {
    margin-right: 13px;
}

.logo__link {

}

.logo__img {
    width: 33px;

}

.networkName {
    font-size: 19px;
    color: #5181b8;
}
