.navbar {
    width: 150px;
    padding-top: 15px;
    margin-right: 16px;
}

.nav {

}

.list {

}

.item {
    border-radius: 4px;
}

.item:hover {
    background-color:#dce1e6;
}

.item__link {
    display: flex;
    align-items: center;
    padding: 6px;
}

.item__icon {
    width: 21px;
    filter: brightness(0) saturate(100%) invert(47%) sepia(60%) saturate(5886%) hue-rotate(207deg) brightness(100%) contrast(85%);
    margin-right: 10px;
}

.item__title {
    font-size: 13px;
}
